.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
h5{font-size:20px;}
.titrecolor1{color:rgb(0, 0, 0)}

h1{font-size: 20px}
.titrerouge{color:red}

.Vcenter{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.titre {
	width:90px;
    background-color:#5eb653;
    float: left;
}
.bandeau {
	width:100%;
	height:20%;
	background-color:#797979;
}
.colone1 {
	width:10%;
	height:80%;
}
.colone2 {
	width:30%;
	height:80%;
}
.colone3 {
	width:12%;
	height:80%;
}
.colone5 {
	width:38%;
	height:100%;
}
.bandeau2 {
	width:100%;
	height:5%;
	background-color:#797979;
}
.colone4 {
	width:20%;
	height:100%;
}
.espace {
	width:100%;
	height:50px;
}
.margin{
	margin: 3%;
}
body {
	margin : 0;
	width: 100vw;
    height: 100vh;
}
#page
{
	display: flex;
	justify-content:center;
}